*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7; 
}

/* nav place */
.header{
    padding: 2px;
    text-align: center;
    background-color: #00AA90 ;
    margin-top: 0;
    line-height: 2em;
}
nav {
    height: 50px;
    background-color: #00ccad ;
    display: flex;   
    position: -webkit-sticky;
    position:sticky;
    top: 0px;
    z-index:2;
}
nav ul {
padding-top: 7px;
list-style-type: none;
flex: 2;
display: flex;
align-items: center;
}
nav li {
display: inline;
text-align: center;
flex: 1;
}
form{
    margin: 0 15px 0 0 ;
}
.genericon-search{
    position: absolute;
    margin:10px 0 0 -40px ;
}
/* nav place end  */
.rightcolumn{
    box-sizing: border-box;
    padding-left: 50px;
    margin-top:2em;
}

li a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}
a h2{
    color:#00C1A4
}
a:hover{
    color: rebeccapurple;
}
a:focus{
    color:red;
}
/* a:visited{
    color:lightcoral;
} */

/* card place */
.card{ 
    padding: 1em;
    margin-bottom: 2em; 
    background-color:#f7f7f7;
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: all 0.1s ease-out;
    border-radius: 8px;
}
.card:hover{ 
    transform: scale(1.01);
    box-shadow: 0 5px 20px 0 rgb(24 144 255 / 22%);
    border: 1px solid #00C1A4;
  }
h2:hover{
    color: rebeccapurple;
}

.card h3{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.row::after{
content: "";
display: table;
clear: both;
}
.sidebar{
    box-sizing: border-box;
    display: block;
    width: 240px;
    color: #555;  
    padding: 1em;
    margin: 2em 0 0 2em;
  }
  .contact-link,.contact-link2{
    display: inline-block;
    margin-left:0.5em;
  }
  .contact-link2{
  margin-left:3em;
}
.contact-link:hover,.contact-link2:hover{
    background-color:  #cccccc;
}
  aside{ 
    background-color:#f7f7f7;
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: all 0.1s ease-out;
    border-radius: 8px;
  }
  aside:hover{
    transform: scale(1.01);
    box-shadow: 0 5px 20px 0 rgb(24 144 255 / 22%);
    border: 1px solid #00C1A4;
  }
footer {
    text-align: center;
    border-top:1px solid #a6a6a6;
    margin-top: 2em;
}
